@keyframes gradient{0%,to{background-position:0 50%}50%{background-position:100% 50%}}@keyframes fadein{0%{bottom:0;opacity:0}to{bottom:30px;opacity:1}}@keyframes fadeout{0%{bottom:30px;opacity:1}to{bottom:0;opacity:0}}
body{background:linear-gradient(135deg,#ee7752,#e73c7e,#23a6d5,#23d5ab);animation:gradient 5s ease infinite;background-size:800% 800%;height:100%}
h1,header{margin-top:0}
#s1,#s2{height:40px}
header{border-radius:10px}
header,svg{width:100%}
h1{font:900 60px sans-serif}
img{background:#00000078;position:absolute;padding:10px;border-radius:50%;margin:5px}
button,input{display:flex;border-radius:100px;border-width:0}
label{font-size:0}
.search{padding:10px;margin:0 auto}
h1,h2,input{text-align:center}
input{border-bottom:0;background:#c1c1c1;margin-left:auto;margin-right:auto;min-height:30px;width:300px;outline:0;font-family:Arial,Helvetica,Sans-Serif;box-shadow:0 6px 20px 20px rgba(0,0,0,.15);transition-timing-function:ease-in-out;transition-duration:1s}
input:focus,input:hover{background:#0ff;width:calc(100% - 10px);font-size:18px}
button{margin:10px auto;background:#fff6;outline:0;width:2rem;padding:2px}
input::placeholder{font-size:15px}
#noqry,#ofline{visibility:hidden;min-width:250px;margin-left:-125px;background-color:#33333378;color:#fff;text-align:center;border-radius:8px;padding:16px;position:fixed;z-index:1;left:50%;bottom:30px;font-size:17px}
#noqry.show,#ofline.show{visibility:visible;animation:fadein .5s,fadeout .5s 2.5s}
#e2{display:none}
.e3{margin-right:5px}
button:focus,button:hover{background:gray;cursor:pointer}
.toggle{appearance:none;width:62px;height:32px;position:relative;overflow:hidden;transition:.1s;margin-right:10px}
.toggle:before{content:"ON OFF";position:absolute;width:28px;height:28px;background:#fff;left:2px;top:2px;border-radius:50%;font:10px/28px Helvetica;font-weight:700;text-indent:-22px;word-spacing:37px;white-space:nowrap}
.toggle:checked{background-color:#00ff13}
.toggle:checked:before{left:32px}
.toggle:focus,.toggle:hover{width:62px}
.switch>b{margin-right:74px;display:flex;justify-content:flex-end;align-items:center;font-size:25px}
