@-webkit-keyframes gradient{0%,to{background-position:0 50%}50%{background-position:100% 50%}}
@keyframes gradient{0%,to{background-position:0 50%}50%{background-position:100% 50%}}
@-webkit-keyframes fadein{0%{bottom:0;opacity:0}to{bottom:30px;opacity:1}}
@keyframes fadein{0%{bottom:0;opacity:0}to{bottom:30px;opacity:1}}
@-webkit-keyframes fadeout{0%{bottom:30px;opacity:1}to{bottom:0;opacity:0}}
@keyframes fadeout{0%{bottom:30px;opacity:1}to{bottom:0;opacity:0}}
body {
    margin: 0;
    background: -o-linear-gradient(135deg,#ee7752,#e73c7e,#23a6d5,#23d5ab);
    background: linear-gradient(-45deg,#ee7752,#e73c7e,#23a6d5,#23d5ab);
    -webkit-animation: gradient 5s ease infinite;
    animation: gradient 5s ease infinite;
    background-size: 800% 800%;
    height: 100%
}
header {
    border-radius: 10px;
    margin-top: 0;
    width: 100%
}
h1 {
    font: xx-large sans-serif
}
button,input {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    border-radius: 100px;
    border-width: 0
}
label {
    font-size: 0
}
.search {
    padding: 10px;
    margin: 10% auto
}
h1,h2,input {
    text-align: center
}
input {
    border-bottom: 0;
    background: #c1c1c1;
    margin-left: auto;
    margin-right: auto;
    min-height: 30px;
    width: 300px;
    outline: 0;
    font-family: Arial,Helvetica,Sans-Serif;
    -webkit-box-shadow: 0 6px 20px 20px rgba(0,0,0,.15);
    box-shadow: 0 6px 20px 20px rgba(0,0,0,.15);
    -webkit-transition-timing-function: ease-in-out;
    -o-transition-timing-function: ease-in-out;
    transition-timing-function: ease-in-out;
    -webkit-transition-duration: 1s;
    -o-transition-duration: 1s;
    transition-duration: 1s
}
input:focus,input:hover {
    background: #0ff;
    width: calc(100% - 10px);
    font-size: 18px
}
button {
    margin: 10px auto;
    background: #fff;
    padding: 10px;
    outline: 0
}
input::-webkit-input-placeholder {
    font-size: 15px
}
input::-moz-placeholder {
    font-size: 15px
}
input:-ms-input-placeholder {
    font-size: 15px
}
input::-ms-input-placeholder {
    font-size: 15px
}
input::placeholder {
    font-size: 15px
}
#noqry,#ofline {
    visibility: hidden;
    min-width: 250px;
    margin-left: -125px;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 8px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    left: 50%;
    bottom: 30px;
    font-size: 17px
}
#noqry.show,#ofline.show {
    visibility: visible;
    -webkit-animation: fadein .5s,fadeout .5s 2.5s;
    animation: fadein .5s,fadeout .5s 2.5s
}
#e2 {
    display: none
}
#e3 {
    margin-right: 5px
}
button:focus,button:hover {
    background: gray
}
